<%- include('partials/header.ejs') -%>
<%- include('partials/navbar.ejs') -%>
<body>
  <%- include('partials/carousel.ejs') -%>
  <%- include('partials/portfoliopartial.ejs')-%>
  <%- include('partials/contactpartial.ejs')-%>
  <%- include('partials/aboutpartial.ejs') -%>
</body>
<%- include('partials/footer.ejs') -%>